<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.DriverSchoolDao">
	
	<resultMap type="DriverSchool" id="DriverSchoolMap">
		<id property="did" column="did"/>
		<result property="dname" column="dname"/>
		<result property="address" column="address"/>
		<result property="phone" column="phone"/>
		<!-- <result property="cityAreaId" column="cityAreaId"/> -->
		<!-- 多对一 -->
		<association property="cityArea" javaType="CityArea">
			<id property="cid" column="cid"/>
			<result property="name" column="name"/>
		</association>
	</resultMap> 
	
	<select id="getCounts" parameterType="DriverSchool" resultType="int">
		select count(1) from driverSchool d
		left outer join cityArea c on d.cityAreaId=c.cid
		<where>
			<if test="cityArea!=null and cityArea.cid!=-1">
				and d.cityAreaId=#{cityArea.cid}
			</if>
		</where>
	</select>
	
	<select id="getAllByPager" parameterType="java.util.Map"
	 resultMap="DriverSchoolMap">
	 select * from (
		select d.*,c.* from driverSchool d
		left outer join cityArea c on d.cityAreaId=c.cid
		<where>
			<if test="school.cityArea!=null and school.cityArea.cid!=-1">
				and d.cityAreaId=#{school.cityArea.cid}
			</if>
		</where>
			order by d.did
		) ds limit #{pageIndex},#{pageSize}
	</select>
	
	<delete id="del" parameterType="int">
		delete from driverschool where did=#{did}
	</delete>
	
	<insert id="insert" parameterType="DriverSchool">
		insert into driverschool(dname,cityAreaId,address,phone)
		values(#{dname},#{cityArea.cid},#{address},#{phone})
	</insert>
	
	<select id="getDetail" parameterType="int" resultMap="DriverSchoolMap">
		select d.*,c.* from driverSchool d
		left outer join cityArea c on d.cityAreaId=c.cid
		 WHERE d.did = #{did}
	</select>
	
	<update id="update" parameterType="DriverSchool" >
	 	UPDATE  driverSchool 
	 	<set>
	 		<if test="dname!=null">
	 			dname=#{dname},
	 		</if>
	 		<if test="cityArea!=null and cityArea.cid!=-1">
	 			 cityAreaId=#{cityArea.cid},
	 		</if>
	 		<if test="address!=null">
	 			 address=#{address},
	 		</if>
	 		<if test="phone!=null">
	 			 phone=#{phone},
	 		</if>
	 	</set>
		WHERE did=#{did}
	</update>
	
	
</mapper>
